---
title: Daily Briefing
layout: base.njk 
pagination:
 data: news
 size: 1
 alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <ul>
    {% for article in news.articles %}
    <li>
    <h2><a href="">{{ article.title}}</a></h2>
    <span>{{ article.source.name}} <time> {{article.publishedAt }}</time></span>
    </li>
    {% endfor %}
    </ul>
    </div>
    <script src="/js/vibe.js">
        
    </script>